.tarjeta {
    width: 45rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(119, 119, 119, 0.301);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 25%) 0px 20px 40px;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding-bottom: 0.5rem;
    transition: all 300ms;
    margin: 3rem;
}

.tarjeta-footer {
    padding: 0;
    background-color: transparent;
    border-top: none;
}

.tarjeta-body{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.fuente-blanca{
    color: white;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.card-image {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin: 10px;
}
.btn-custom-color {
    background-color: #b20510;
    border-color: #b20510;
}

.btn-custom-color:hover {
    background-color: #fff;
    border-color: #b20510;
    color:#b20510;
}